.ion-avatar{
    margin:0 auto;
    width: 80px;
    height: 80px;
    color: rgb(255, 145, 2);
    }
    ion-card-title{
        background-color: rgb(69, 158, 231);
        padding: 10px;
        border-radius: 20px;
    }
   a{
       text-decoration: underline;
       cursor: pointer;
   }
  a:hover{
      color: crimson;
  }
  